:root {
    --primary-color: #ac3b61;
    --secondary-color: #e0648e;
    --tertiary-color: #9b2f53;
    --quaternary-color: #cc577e;
    --quinary-color: #941740;
    --senary-color: #61283b;
    --septenary-color: #ba4069;
    --octonary-color: #c77691;
    --nonary-color: #edc7b7;
    --denary-color: #ac2351;

    --transition: 0.3s ease-in-out;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--nonary-color);
}

header {
    border-bottom: 3px solid var(--primary-color);
    transform: translateY(0);
    transition: transform var(--transition);
}

header.hidden {
    transform: translateY(-100%);
}

#home {
    padding-top: 80px;
}

.logo {
    font-family: cursive, monospace;
    font-size: 1.2rem;

}

.anasi {
    color: var(--primary-color);
}

.beauty {
    color: var(--secondary-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    margin: 3px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all var(--transition);
    transition: all var(--transition);
    background-color: var(--primary-color);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.1rem;
    color: var(--tertiary-color);
}

.nav-link:hover {
    color: var(--quaternary-color);
}

.hero {
    margin: 1rem;
    position: relative;
    padding: 0;
    overflow: hidden;

}

.intro {
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
}

.intro-title {
    color: var(--primary-color);

}

.intro-undertitle {
    margin-top: 10px;
    color: var(--secondary-color);
}

.introduction {
    font-size: 1.6rem;
    text-align: left;
    justify-content: center;
    margin: 2px;
    color: var(--quaternary-color);
}

.text-clients {
    margin: 20px;
}

.leading-text {
    text-align: center;
    justify-content: center;
    color: var(--quaternary-color);
}

.question {
    margin-left: 4px;
    color: var(--quaternary-color);
    font-size: 1.3rem;
}

.answer {
    color: var(--quaternary-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;

}

.guide {
    color: var(--quaternary-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.clients {
    font-size: 2.3rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    color: var(--quaternary-color);
}

#slider {
    position: relative;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slide {
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 1rem;

}

.image {

    height: auto;
    width: 300px;
    animation: fade 3s ease-in-out alternate;
    border-radius: 30px 50px;
    border: 3px solid var(--primary-color);
}

.prev {
    width: 75px;
    height: 44px;
    background-color: var(--tertiary-color);
    color: #edc7b7;
    border-color: #9b2f53;
    box-shadow: #941740;
    cursor: pointer;
    border-radius: 12px 24px;
}

.next {

    width: 75px;
    height: 44px;
    border-radius: 30px;
    background-color: #9b2f53;
    color: #edc7b7;
    border-color: #9b2f53;
    box-shadow: #941740;
    cursor: pointer;
    border-radius: 12px 24px;
}

.prev:hover {
    border-radius: 24px 12px;
    color: #cc577e;
}

.next:hover {
    border-radius: 24px 12px;
    color: #cc577e;
}

.price {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #e0648e;
    margin: 20px;
    margin-bottom: 25px;

}

.column {

    background-color: #ac2351;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    color: #edc7b7;
}

.column h1 {
    margin-bottom: 15px;
    color: #ac2351;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border-bottom: 3px solid #ac2351;

}

th {
    background-color: #ba4069;
    color: white;
}

tbody td {
    background-color: #c77691;
    color: white;
}

tbody td:hover {
    background-color: #61283b;
}

footer {
    text-align: center;
    padding: 20px;
}

.footer-container {
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info {
    margin-bottom: 20px;
    font-size: 24px;
    color: #941740;
    font-family: 'Times New Roman', Times, serif;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-link {
    display: flex;
    font-size: 18px;
    color: #61283b;
    text-decoration: none;
}

.footer-icon {
    margin-right: 10px;

}


@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        z-index: 1000;
        width: 100%;
        padding: 10px 20px;
        top: 0;
    }

    .nav-menu {
        top: 2px;
        margin-top: 60px;
        padding: 100px 20px;
        min-height: 100vh;
        position: fixed;
        z-index: 1000;
        left: -100%;
        flex-direction: column;
        background-color: #edc7b7;
        width: 30%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        display: flex;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .image {
        display: block;
        width: 100%;
    }

    .column-table {
        padding: 10px;
    }

    table {
        border: 0;
    }

    thead {
        display: block;
        background-color: #61283b;
        align-items: right;
        text-align: right;
    }

    tr {
        display: block;
        margin-bottom: 10px;
    }

    th, td {
        display: block;
        text-align: center;
        padding-left: 10%;
        position: relative;

    }

    th:before, td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 30%;
        padding-left: 5px;
        font-weight: bold;
        text-align: center;
    }

    th {

        text-align: center;
    }

    td {
        text-align: center;

    }
}






